
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Define a cor de fundo do site e a cor do texto */
body {
    background-color: #000000; /* Cor clara de fundo */
    color: #ffffff; /* Cor do texto */
    line-height: 1.6;
}

/* Estiliza o cabeçalho */
header {
    background-color: #000000; /* Azul */
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

/* Ajusta os parágrafos */
p {
    margin-bottom: 15px;
}

/* Layout principal com flexbox */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    header {
        font-size: 200px;
    }
}

.img-screen-alt-class-logo {
    width: 100px; /* Define a largura desejada */
    height: 400; /* Mantém a proporção */
}

.produto img {
    width: 200px;
    height: 500;
}
