@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");

:root {
    --cor-de-fundo: #000000;
    --branco: #ffffff;
    --laranja: #000000;
    --azul-degrade: linear-gradient(97.54deg, #000000 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 100;
}